body {font-family: Arial, Helvetica, sans-serif;
     background: url(../img/login2.jpeg);

    }
body::before{
     background-color: rgba(0, 0, 0, 0.9);
     content: '';
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
}
.pri{
    border-radius: 50%;
    width: 30px;
}
i{
    font-size: 20px;
    color: #a0a0a0;
    margin-right: 5px;
}
#content{
    z-index: 1;
}
.dropdown-menu{
    right: 0;
}
}
.ired{
    color: #ff0202;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 195px;
    max-width: 195px;
     min-height: 100vh;
     position: fixed;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(97, 157, 222, 0.5);
}
#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#replace{
    color: #fff;
}

/*body {
    font-family: 'Poppins', sans-serif;
    background: #eef6ff;
}
*/
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: rgba(218, 223, 224, 0.25);
    color: #fff;
    transition: all 0.3s;
}


.borders{
    padding:3px;
}
.borders .row div{
        border-right: 1px solid #c1b9b9;
}
.select-type {
    font-size: 18px;
}
li p{

    font-size: 34px;
    margin: auto;
}
li b{
    float: right;
    margin: auto;
    text-align: center;
}
li{
    text-decoration: none;
    list-style-type: none;
}
.aside{
   z-index: 1000;
}